.home{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.input_search{
    display: flex;
    width: 70%;
    margin: 2em;
    height: 30px;
}
.home_container{
    display: flex;
}
